/* === Generic and basic styles === */

html,body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.button-link {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px 7px;
  font-size: 20px;
  font-family: "Varela Round", sans-serif;
  background: #fec;
  background-image: linear-gradient(to bottom, #fe8, #ec4);
  color: #a60;
  border-radius: 5px;
  border-bottom: 3px solid #b84;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2)
}
.button-link:hover {
  background-image: linear-gradient(to bottom, #ff8, #ed2);
  color: #a80;
}

/* === Main navigation === */

#main-nav {
  position: fixed;
  z-index: 10000;
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  font-family: "Varela Round", sans-serif;
  background: #522;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5)
}

#main-nav a {
  text-decoration: none;
}

#main-nav .wrap {
  position: relative;
}

#main-nav-home {
  display: block;
  font-weight: bold;
  color: #fdd;
  text-transform: uppercase;
}

#main-nav-menu a {
  color: #fff;
}

#main-nav-home:hover, #main-nav-menu a:hover {
  color: #f88;
}

@media only screen and (min-width:840px) {

  #main-nav .wrap {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

}

@media only screen and (min-width:680px) and (max-width:839px) {

  #main-nav .wrap {
    margin-left: 20px;
    margin-right: 20px;
  }

}

@media only screen and (min-width:680px) {

  #main-nav {
    height: 39px;
    border-bottom: 1px solid #844;
  }

  #main-nav-home {
    position: absolute;
    top: 0; left: 0;
  }

  #main-nav-home, #main-nav-menu li {
    padding: 9px 0 11px;
    border-top: 3px solid #522;
    border-bottom: 1px solid #844;
  }

  #main-nav-home.active, #main-nav-menu li.active {
    padding-bottom: 9px;
    border-bottom: 3px solid #fe8;
  }

  #main-nav-menu-button {
    display: none;
  }

  #main-nav-menu {
    position: absolute;
    top: 0; right: 0;
    margin: 0; padding: 0;
  }

  #main-nav-menu li {
    display: block;
    float: left;
    margin-left: 16px;
  }

}

@media only screen and (max-width:679px) {

  #main-nav-home {
    display: inline-block;
    padding: 12px 20px 11px;
  }

  #main-nav-menu-button {
    display: block;
    position: absolute;
    top: 9px; right: 20px;
    font-size: 22px;
    line-height: 18px;
    text-align: center;
    color: #ccc;
    width: 18px;
    height: 18px;
    border: 2px solid #ccc;
  }

  #main-nav-menu {
    height: 0px;
    margin: 0;
    padding: 0px 20px;
    border-top: 1px solid #844;
    overflow: hidden;
    transition: all 0.3s ease-out;
  }
  #main-nav-menu.active {
    height: auto;
    padding: 10px 20px;
  }

  #main-nav-menu li {
    display: block;
    padding: 4px 0;
  }
  #main-nav-menu li.active {
    padding: 4px 0;
    border: none;
  }
  #main-nav-menu li.active a {
    color: #fe8;
  }

}

/* === Main page banner === */

#banner {
  width: 100%;
  padding-top: 40px;
  background: #300 url(banner.png);
  background-size: cover;
}

#banner img {
  display: block;
  width: calc(100% - 40px);
  max-width: 300px;
  padding: 50px 20px;
  margin: 0 auto;
}

/* === Main page intro === */

#intro {
  padding: 50px 0;
  font-family: "Varela Round", sans-serif;
  background: #633;
  color: #fff;
}

@media only screen and (min-width:640px) {
  #intro h1, #intro p, #intro .wrap {
    width: 600px;
    margin: auto;
  }
}

@media only screen and (max-width:639px) {
  #intro h1, #intro p, #intro .wrap {
    margin: auto 20px;
  }
}

#intro h1 {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 40px;
  color: #fdd;
}

#intro h1 .heart {
  font-size: 32px;
  color: #f44;
}

#intro-blurb {
  font-size: 20px;
  line-height: 30px;
}

#intro-blurb strong {
  font-weight: normal;
  color: #faa;
}

#intro .wrap {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #844;
}

#intro .when-where {
  font-size: 20px;
  margin-bottom: 20px;
}

@media only screen and (min-width:640px) {
  #intro .when-where {
    width: 300px;
    float: left;
  }
}

@media only screen and (max-width:639px) {
  #intro .when-where {
    margin: 0 0 20px;
  }
}

#intro .when-where strong {
  display: block;
  padding-bottom: 5px;
  font-size: 16px;
  color: #f44;
  text-transform: uppercase;
}

#register-call {
  clear: both;
  padding-top: 20px;
  border-top: 1px solid #844;
}

/* === Main page sister events === */

#sister-events {
  padding: 30px 0;
  background: #fdd;
}

@media only screen and (min-width:840px) {
  #sister-events .wrap {
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
  }
}

@media only screen and (max-width:839px) {
  #sister-events .wrap {
    margin: 0 20px;
    overflow: hidden;
  }
}

#sister-events .event {
  position: relative;
}

@media only screen and (min-width:840px) {
  #sister-events .event {
    float: left;
    width: 370px;
  }

  #sister-events .event:first-of-type {
    padding-right: 40px;
  }
}

@media only screen and (max-width:839px) {
  #sister-events .event {
    max-width: 600px;
    margin: 0 auto;
  }
}

#sister-events h2 {
  margin: 0;
  padding-top: 48px;
  font-size: 24px;
  font-family: "Varela Round", sans-serif;
  color: #633;
}

#sister-events .event-type {
  position: absolute;
  top: 0;
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
  color: #f44;
  font-weight: bold;
  text-transform: uppercase;
}

/* === Main page sponsorships === */

#sponsors h2 {
  margin-top: 50px;
}

#sponsor-invitation {
  margin-top: 30px;
  margin-bottom: 0;
  padding: 30px 0 50px;
  font-size: 14px;
  line-height: 20px;
  border-top: 1px solid #ccc;
}

@media only screen and (min-width:840px) {
  #sponsors h2, #sponsors p {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width:839px) {
  #sponsors h2, #sponsors p {
    margin-left: 20px;
    margin-right: 20px;
  }
}

#sponsors h2, #sponsor-invitation strong {
  display: block;
  padding-bottom: 5px;
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
  color: #f44;
  text-transform: uppercase;
}

#sister-events a,
#sponsor-invitation a,
#content a:not(.button-link) {
  text-decoration: none;
  color: #f44;
}
#sister-events a:hover,
#sponsor-invitation a:hover,
#content a:not(.button-link):hover {
  color: #800;
}

/* === Internal banner === */

#banner-internal {
  font-family: "Varela Round", sans-serif;
}


#banner-internal .x {
  text-align: center;
  font-size: 30px;
}

#banner-internal .extra-title {
  margin-top: 5px;
  text-align: center;
  font-size: 23px;
  line-height: 25px;
  font-weight: bold;
}

@media only screen and (min-width:840px) {

  #banner-internal {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  #banner-internal img, #banner-internal .x, #banner-internal .extra-title {
    clear: left;
    float: left;
    width: 150px;
  }

  #banner-internal .x {
    line-height: 40px;
  }

  #banner-internal > img {
    margin-top: 100px;
  }

}

@media only screen and (max-width:839px) {

  #banner-internal {
    margin-left: 20px;
    margin-right: 20px;
    min-width: 350px;
  }

  #banner-internal img {
    width: 150px;
  }

  #banner-internal > img {
    float: left;
    margin-top: 70px;
  }

  #banner-internal .x {
    float: left;
    margin-top: 70px;
    line-height: 150px;
    width: 50px;
  }

  #visions-banner {
    float: left;
    margin-top: 83px;
    width: 150px;
  }

}

/* === Internal content === */

#content h1, #content h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Varela Round", sans-serif;
}

#content h1 {
  font-size: 24px;
  color: #f88;
}

#content *+h1 {
  margin-top: 50px;
}

#content h2 {
  margin-top: 20px;
  font-size: 16px;
  color: #f44;
}

#content p, #content ul, #content ol {
  margin-top: 10px;
  margin-bottom: 10px;
}

#content li {
  padding-left: 10px;
}

#map-wrap {
  height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#map {
  height: 398px;
  border: 1px solid #f44;
}

#content table {
  margin: 20px 0;
  border-collapse: collapse;
}

#content table th, #content table td {
  vertical-align: top;
  border: 1px solid #888;
  padding: 8px 12px 10px;
}

#content dt {
  float: left;
  width: 100px;
  font-weight: bold;
}

#content dd {
}

@media only screen and (min-width:840px) {

  #content {
    padding: 100px 0 50px;
  }

  #content h1, #content h2, #content p, #content ul, #content ol, #content dl, #content .table-wrapper, #map-wrap {
    margin-left: auto;
    margin-right: auto;
  }

  #content h1, #content h2, #content p, #content .table-wrapper, #content dl, #map-wrap {
    width: 600px;
    padding-left: 200px;
  }

  #content ul, #content ol {
    width: 570px;
    padding-left: 230px;
  }

}

@media only screen and (max-width:839px) {

  #content {
    padding: 30px 0;
  }

  #content h1:nth-of-type(1) {
    clear: both;
    padding-top: 50px;
  }

  #content h1, #content h2, #content p, #content ul, #content ol, #content dl, #content .table-wrapper, #map-wrap {
    margin-left: 20px;
    margin-right: 20px;
  }

  #content ul, #content ol {
    padding-left: 30px;
  }

}

/* === Program table === */

#content thead th {
  background: #ccc;
}

#content tbody th {
  background: #ddd;
  font-size: 0.85em;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}

#content tbody th.normal {
  height: 120px;
}

td.normal    { background: #fff; }
td.break     { background: #eee; font-style: italic; }
td.keynote   { background: #fcc; }
td.lightning { background: #fdb; }
td.panel     { background: #fca; }
td.workshop  { background: #faa; }

.session-class {
  margin: -8px -12px 8px;
  padding: 2px 12px;
  font-size: 0.85em;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #a66;
  background: rgba(255,0,0,0.1);
}

.keynote-speaker, .session-title {
  line-height: 1.3em;
  font-size: 1.1em;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  color: #a32;
}

.keynote-designation, .session-presenter {
  margin-top: 0.5em;
  line-height: 1.3em;
  font-size: 0.85em;
  font-style: italic;
}

.lightning-item {
  position: relative;
  padding-left: 20px;
  margin-top: 0.5em;
  line-height: 1.3em;
  font-size: 0.85em;
  font-style: italic;
}

.lightning-item strong {
  display: block;
  line-height: 1.3em;
  font-size: 1.3em;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #a32;
}

.lightning-item+.lightning-item {
  margin-top: 12px;
}

.lightning-item:before {
  position: absolute;
  font-size: 1.4em;
  left: 0;
  content: "▸";
  color: #844;
}
